$v-font-size: 16px !default;
$v-unit-size: round(2.2 * $v-font-size) !default;

/*
$v-layout-margin-top: 10px !default;
$v-layout-margin-right: 10px !default;
$v-layout-margin-bottom: 10px !default;
$v-layout-margin-left: 10px !default;
*/