.masonry-layout {
    background-color: #EFEFEF;
}

.masonry-layout .masonry-item {
    border-width: 1px;
    margin: 10px 10px 10px 10px;
    width: 280px;
    border-color: #888;
    border-style: solid;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 3px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.masonry-layout .masonry-item > .v-widget {
    padding: 1rem;
}

.masonry-layout .masonry-item.masonry-double-wide {
    width: 580px;
}

.masonry-layout .masonry-item.masonry-triple-wide {
    width: 880px;
}

.masonry-layout .masonry-item.masonry-quadruple-wide {
    width: 1180px;
}

.masonry-layout .masonry-item > .v-ddwrapper {
    padding: 1rem;
    border-radius: 0px;
}

.masonry-layout .masonry-item > .v-ddwrapper.v-ddwrapper-over {
    outline: none;
    border: none;
    background: #DDD;
}

.v-overlay-container > .masonry-dnd-wrapper {
    border-width: 1px;
    margin: 10px 10px 10px 10px;
    max-width: 280px;
    border-color: #888;
    border-style: solid;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 3px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.v-overlay-container > .masonry-dnd-wrapper > * {

}