@import "../reindeer/reindeer.scss";

$gray: #d1d1cf;
$green: #40b527;
$darkgreen: darken($green, 30%);

.demo {
  @include reindeer;

  .masonry-panel > .v-panel-content {
    background-color: #DEDEDE;
    -moz-box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.25);
    box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.25);
  }

  .add-space-after {
    margin-bottom: 10px;
  }

  .add-space-before {
    margin-top: 10px;
  }

  .demo-link {
    width: 100%;
    text-align: right;
    padding-left: 10px;
    box-sizing: border-box;
  }

  .demo-masonry, .demo-masonry > .masonry-layout {
    min-height: 100%;
  }

  .masonry-layout .masonry-item > .post-it {
    background-color: yellow;
    padding: 20px;

    .v-label {
      color: rgba(0,0,0,0.9);
      font-size: 20px;
      font-weight: bold;
      font-family: "Comic Sans", "Comic Sans MS", cursive;
      line-height: 25px;
    }
  }

  .slow-image {
    max-width: 100%;
  }

  .demo-header-label {
    text-align: right;
    color: #060;
    border-width: 0px 0px 1px 0px;
    border-color: #060;
    border-style: solid;
    margin-bottom: 5px;
  }
}
